<div class="font-mono">
  <tb-tailwind-header></tb-tailwind-header>

  <main
    class="max-w-xl md:max-w-2xl lg:max-w-6xl mx-auto py-xl px-md md:px-xl grid grid-cols-1 gap-md md:grid-cols-2 lg:grid-cols-3"
  >
    <tb-tailwind-card
      *ngFor="
        let item of [
          {
            title: 'Angular',
            url: 'https://angular.io/',
            content:
              'Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.'
          },
          {
            title: 'Tailwind CSS',
            url: 'https://tailwindcss.com/',
            content:
              'Tailwind CSS is a utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design,directly in your markup.'
          },
          {
            title: 'Nx',
            url: 'https://nx.dev/',
            content:
              'Nx is a smart, fast and extensible build system with first class monorepo support and powerful integrations.'
          }
        ]
      "
      [title]="item.title"
      [url]="item.url"
    >
      {{ item.content }}
    </tb-tailwind-card>
  </main>
</div>
